body {
    background-color: ivory
}
.cajita {
    border-style: solid;
    border-width: 1px;
    border-color: #ccc;
    border-radius: 2px;
    background-color: beige;
}
.footer {
    padding: 10px;
    border-top: solid 1px #eee;
}
.primario {
    padding: 5px;
    background-color: #0090FF;
    color: #fff;
}
.secundario {
    padding: 5px;
    background-color: #aaa;
    color: #fff;
}